@font-face {
	font-family: dk;
	src: url(C:/Users/John/Documents/SFACC/SFACC/fonts/AGENCYB.TTF);
}
.body {

}
* {
	font-family: dk;
}
.na {
	background-color: brown;
	list-style-type: none;
	padding: 0;

	width: 100%;
	height: 10%;
	position: fixed;
	overflow: hidden;
	display: block;
	margin: 0;
	right: 0;
	top: 10%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	transition: width 0.3s;
	z-index: 1;
}
#ttl {
  background-color: green;
  color: white;
  height: 10%;
  width: 100%;
 z-index: 1;
 position: fixed;
  margin: 0;
  top: 0%;
  left: 0;
}
.ttl h1 {
	background-color: green;
  color: white;
  height: 10%;
  width: 100%;
 position: fixed;
  margin: 0;
  top: 0;
  display: block;
  margin-left: 12%;
  padding-top: 2%;
  font-family: dk;
z-index: 1;
}

.na #fn {
	margin: 0;
}
.na h1 {
	margin: 0;
	color: white;
}

.na li {
	float: left;
	color: white;
	height: 100%;
}
.na li a {
	text-decoration: none;
	color: white;
	padding: 15px;
	width: 100%;
	
	border-bottom: 0px solid #555;
	background-color: brown;
	font-size: 15px;
	height: 100%;
	padding-top: 17%;
	
	float: left;
	transition: background-color 0.7s;
}
/*a fix in daily reading needs to occur*/

.na li a:visited {
	color: white;
}
.na li a:hover {
	background-color: green;
	color: white;
	border-bottom: 5px solid #000;
}

.na li i {
	font-size: 30px;
}
#ico {
	height:100%;
	width: 10%;
}

#ia {
	width: 20%;
	height: 20%;
	
	float: left;
	margin-right: 3%;
}
.log {
	float: right;
	top: 1px;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	border: 2px solid blue;
	cursor: pointer;
	right: 1%;
	margin-right: 2px;
    background-image: linear-gradient(to right, blue, blue, cyan);
	margin-top: 13px;
	position: relative;
	z-index: 1;
}